__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Testing coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
coverage_html_report/
.tox/

# OS
.DS_Store

# HPC/Project specific
scratch/
results/
checkpoints/
data_cache/
*.flag
logs/
*.out
*.err

